@page
@model StudentManager.Pages.AboutModel
@{
}

<h1>About</h1>
<p style="font-size: 25px">My name is Mr. V.A Janidu Chathushan</p>
<p style="font-size: 20px">This is the Student Management System Project</p>