@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <div class="image-overlay"></div>
    <div class="content">
        <h1 class="display-4">Welcome</h1>

        <h1>Student Management System</h1>
    </div>
    
</div>
